Source: docker-web-ui
Section: misc
Priority: optional
Maintainer: Alexander Telkov <alx9110@yandex.ru> 
Build-Depends: debhelper (>= 7),
  python, python-dev, python-setuptools,
  libfontconfig1
Standards-Version: 3.9.6
Homepage: https://github.com

Package: docker-web-ui
Architecture: all
Homepage: any.ru
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}
Description: Yet another UI.
