Source: yandex-haas-itdctools-app
Section: misc
Priority: optional
Maintainer: Alexander Telkov <midiblack@yandex-team.ru> 
Build-Depends: debhelper (>= 7),
  python, python-dev, python-setuptools,
  libfontconfig1
Standards-Version: 3.9.6
Homepage: https://github.yandex-team.ru/midiblack/python-itdctools

Package: yandex-haas-itdctools-app
Architecture: all
Homepage: https://itdc.yandex-team.ru/
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}
Description: Service for automatization IT Operations.
