{% extends "base.html" %}
{% block content %}
<style>
#container {
	height: 100px;
	margin: 0 auto;
}
.table .thead-dark th{
background-color: #398bb3;
border-color: #398bb3;
};

</style>
<br/>






<div class="container">
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false"><i class="fa fa-bar-chart" aria-hidden="true"></i> Charts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true"><i class="fa fa-linode" aria-hidden="true"></i> Dock</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-table" aria-hidden="true"></i> Table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false"><i class="fa fa-history" aria-hidden="true"></i> History</a>
      </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <!-- Charts -->
      <div class="container">
          <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
          <script src="https://code.highcharts.com/highcharts.js"></script>
          <script src="https://code.highcharts.com/highcharts-more.js"></script>
          <script src="https://code.highcharts.com/modules/exporting.js"></script>
          <div id="ram"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container">
            <h4 align='center'>Running containers</h4>
            <div class="row">
                {% for c in containers %}
                <div style="font-size: 14px;" class="col-sm-4 col-12 col-md-3">
                    <div style="min-height: 200px; min-width: 170px; margin-left: 10px;" class="card text-white bg-primary">
                        <div class="card-header">{{ c.name }} | <a href="/kill/{{ c.short_id }}"><i style="color: #fff;" class="fa fa-power-off" aria-hidden="true"></i></a></div>
                        <div class="card-body">
                          <h4 style="font-size: 12px;" class="card-title">{{ c.image }}</h4>
                          <p class="card-text">
                            {% for key in c.attrs['NetworkSettings']['Ports'] %}
                            { {{ key }}: {{ c.attrs['NetworkSettings']['Ports'][key]}} }
                            {% endfor %}
                          </p>
                        </div>
                      </div>
                </div>
                {% endfor %}
              </div>
        </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="container">
            <table style="font-size: 14px;" class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">ACTION</th>
                        <th scope="col">SHORT_ID</th>
                        <th scope="col">IMAGE</th>
                        <th scope="col">IP</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">PORTS</th>
                        <th scope="col">NAMES</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for c in containers %}
                      <tr>
                        <td>
                          <a href="/kill/{{ c.short_id }}"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                          <a target="_blank" href="http://ec2-54-245-54-226.us-west-2.compute.amazonaws.com:{{ c.attrs['NetworkSettings']['Ports']['80/tcp'][0]['HostPort'] }}">web</a>
                        </td>
                        <td>{{ c.short_id }}</td>
                        <td>{{ c.image }}</td>
                        <td>{{ c.attrs['NetworkSettings']['IPAddress'] }}</td>
                        <td>{{ c.status }}</td>
                        <td>{{ c.attrs['NetworkSettings']['Ports'] }}</td>
                        <td>{{ c.name }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
        </div>
    </div>

 <!-- Logs -->
    <div class="tab-pane fade show active" id="logs" role="tabpanel" aria-labelledby="logs-tab">
        <div class="container">
            <br/>
            <table class="table">
                <thead>
                  <tr>
                    <th>level</th>
                    <th>message</th>
                  </tr>
                </thead>
                <tbody>
                  {% for line in logs %}
                  <tr>
                    {% if 'INFO' in line %}
                    <td><span class="badge badge-warning">info</span></td>
                    {% elif 'DEBUG' in line %}
                    <td><span class="badge badge-primary">debug</span></td>
                    {% else %}
                    <td><span class="badge badge-danger">error</span></td>
                    {% endif %}
                    <td>{{ line }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
      </div>
<!-- END LOGS -->
</div>



</div>

<script>

var chart = Highcharts.chart('ram', {
chart: {
      inverted: true,
      polar: false
  },

title: {
    text: 'Running: {{ status["count"] }} app'
},

yAxis: {
        title: {
            text: 'RAM usage %'
        },
        allowDecimals: true,
    },

xAxis: {
    categories: [{% for s in detail %}'{{s["name"]}}',{% endfor %}]
},

series: [{
    type: 'column',
    colorByPoint: true,
    name: 'percent of total ram',
    data: [{% for s in detail %}{{(s["memory_stats"]["max_usage"]/s["memory_stats"]["limit"])*100|round(2, 'floor')}},{% endfor %}],
    showInLegend: false
}],

rangeSelector: {
	floating: true,
     y: 100
},

});

</script>
{% endblock %}