{% extends "base.html" %}
{% block content %}
<div class="container">
    <h4 align='center'>Running images</h4>
    <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">CONTAINER ID</th>
                <th scope="col">IMAGE</th>
                <th scope="col">COMMAND</th>
                <th scope="col">CREATED</th>
                <th scope="col">STATUS</th>
                <th scope="col">PORTS</th>
                <th scope="col">NAMES</th>
              </tr>
            </thead>
            <tbody>
              {% for c in containers %}
              <tr>
                <td>{{c.short_id}}</td>
                <td>{{c.image}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
</div>
{% endblock %}