{% extends "base.html" %}
{% block content %}
{% if user %}
{% else %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-5">Yet another Docker Web UI</h1>
        <p><img src="static/images/docker.png" width="20%" height="100%"/></p>
        <p><a class="btn btn-lg btn-primary" href="/auth" role="button">Log in now</a></p>
    </div>
</div>
{% endif %}

<div class="container">
    <code>Running: {{ status['count'] }} app</code>
</div>

<div class="container">
    <h4 align='center'>Running containers</h4>
    <div class="row">
        {% for c in containers %}
        <div style="font-size: 14px;" class="col-sm-4">
            <div style="height: 160px;" class="card text-white bg-primary mb-3">
                <div class="card-header">{{ c.name }} | <a href="/kill/{{ c.short_id }}"><i style="color: #fff;" class="fa fa-power-off" aria-hidden="true"></i></a></div>
                <div class="card-body">
                  <h4 style="font-size: 12px;" class="card-title">{{ c.image }}</h4>
                  <p class="card-text">
                    {% for key in c.attrs['NetworkSettings']['Ports'] %}
                    { {{ key }}: {{ c.attrs['NetworkSettings']['Ports'][key]}} }
                    {% endfor %}
                  </p>
                </div>
              </div>
        </div>
        {% endfor %}
      </div>

    <table style="font-size: 14px;" class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ACTION</th>
                <th scope="col">SHORT_ID</th>
                <th scope="col">IMAGE</th>
                <th scope="col">IP</th>
                <th scope="col">STATUS</th>
                <th scope="col">PORTS</th>
                <th scope="col">NAMES</th>
              </tr>
            </thead>
            <tbody>
              {% for c in containers %}
              <tr>
                <td>
                  <a href="/kill/{{ c.short_id }}"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://{{ c.attrs['NetworkSettings']['Ports']['80/tcp'][0]['HostIp'] }}:{{ c.attrs['NetworkSettings']['Ports']['80/tcp'][0]['HostPort'] }}">web</a>
                </td>
                <td>{{ c.short_id }}</td>
                <td>{{ c.image }}</td>
                <td>{{ c.attrs['NetworkSettings']['IPAddress'] }}</td>
                <td>{{ c.status }}</td>
                <td>{{ c.attrs['NetworkSettings']['Ports'] }}</td>
                <td>{{ c.name }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
</div>
{% endblock %}