{% extends "base.html" %}
{% block content %}
<div class="container">
    <h4 align='center'>Running images</h4>
    <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">action</th>
                <th scope="col">short id</th>
                <th scope="col">tags</th>
                <th scope="col">collection</th>
              </tr>
            </thead>
            <tbody>
              {% for img in images %}
              <tr>
                <td><a href="/images/run/{{ img.short_id }}"><i class="fa fa-play-circle" aria-hidden="true"></i></a></td>
                <td>{{ img.short_id }}</td>
                <td>{{ img.tags }}</td>
                <td>{{ img.collection }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
</div>
{% endblock %}